#/Java/Trap-MyCharLiePlugins/nbproject/private/
#/Java/Trap-MyCharLiePlugins/dist/
#/Java/Trap-MyCharLiePlugins/build/
#/Java/MyCharliePlugins/nbproject/private/
#/Java/Bot-Trap-MyCharLiePlugins/nbproject/private/
#/Java/Bot-Trap-MyCharLiePlugins/dist/
#/Java/Bot-Trap-MyCharLiePlugins/build/
#/Java/charlie_plugin/Trap-MyCharLiePlugins/build/
#/Java/charlie_plugin/Trap-MyCharLiePlugins/dist/
#/Java/charlie_plugin/Trap-MyCharLiePlugins/nbproject/private/
#/Java/charlie_plugin/MyCharliePlugins/build/
#/Java/charlie_plugin/MyCharliePlugins/dist/
#/Java/charlie_plugin/MyCharliePlugins/nbproject/private/
#/Java/charlie_plugin/Shoe-MyCharliePlugins/build/
#/Java/charlie_plugin/Shoe-MyCharliePlugins/dist/
#/Java/charlie_plugin/Shoe-MyCharliePlugins/nbproject/private/
#Java/charlie_plugin/Advisor-Junit-TestCases-MyCharliePlugins/nbproject/private/
#Java/charlie_plugin/Advisor-Junit-TestCases-MyCharliePlugins/build/
#Java/charlie_plugin/Advisor-Junit-TestCases-MyCharliePlugins/dist/
#Java/charlie_plugin/MyCharliePlugins/build/
#Java/charlie_plugin/MyCharliePlugins/dist/
#Java/charlie_plugin/MyCharliePlugins/nbproject/private/
#/Java/charlie_plugin/MyCharliePlugins/build/
#/Java/charlie_plugin/MyCharliePlugins/dist/
#/Java/charlie_plugin/MyCharliePlugins/nbproject/private/
#/Java/charlie_plugin/test-side-bets-MyCharliePlugins/nbproject/private/
#/Java/charlie_plugin/test-side-bets-MyCharliePlugins/dist/
#/Java/charlie_plugin/test-side-bets-MyCharliePlugins/build/
#/Java/SideBetOdds/nbproject/private/
#/Java/SideBetOdds/build/
#/Java/SideBetOdds/dist/
#/Java/charlie_plugin/BetAmount-MyCharliePlugins/nbproject/private/
#/Java/charlie_plugin/BetAmount-MyCharliePlugins/build/
